
<h1> Square Root Results</h1>

<p> The APR is <%= @apr %> % </p>
<p> The principal is $<%= @loan %> </p>
<p> The years remaining are <%= @years %> </p>

<p> The monthly payment is <%= @monthly_payment %> </p>

<a href= "/payment/new">Return</a>