<h1>Square Form</h1>

<form action = "/square/results">
    <div>
        <label> Enter a Number</label>
        <input type = "text" name = "the_user_number">
    </div>
    
    <button> Calculate Square</button>
    
</form>